#add-campus {
margin-top: 5%; /* creates space with any element above it, if nothing above moves down */
background-color: orange;
border: none; /* allows you remix the border */
color: white; /* change the text color */
padding: 15px 32px; /* creates more open space for style */
text-align: center; /* config the text in the button */
text-decoration: none;
font-size: 16px;
margin-right: 2%;
border-radius: 10px;
 filter: drop-shadow(0 0 5px #9c9b9b);
}

#add-campus:hover {
background-color: navy;
}

.Home2 { 
    display: flex;  /* with the Flex option we can alter all the elements contained in that div */
    flex-direction: row;
    justify-content: space-between;
}

.brief2 {
color: #000080;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
  background-color: rgba(210, 210, 247, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 10px;

}