* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: white;
}

.all {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 5%;
}

/* .introduction {
  color: orange;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
} */

/* .campus-image {
  width: 100%; 
  height: auto;
  align-self: center;
  margin-top: 5%;
} */

footer {
  position: fixed;
  bottom: 50px;
  color: #ffffff
}

/* .brief {
  color: #000080;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
} */

